<form name="form_intro1" id="form_intro1" onsubmit="finish()">
	<div class="welcome_parts" data-part="1" style="display: block;">
		<h1>Choose a contract to offer the employee.</h1>
		<p> Option A: Fixed wage of <b>{{game.getWage()}}</b> points </p>
		<p ng-if="!game.getVarWage()"> Option B: No contract </p>
		<p ng-if="game.getVarWage()"> Option B: Base wage of <b>{{game.getWage()}}</b> points with <b>{{game.getBonus()}}</b> points <span ng-if="game.getLowBase()">bonus for high effort</span> <span ng-if="!game.getLowBase()">deduction for low effort</span>
		</p>
		<p ng-if="game.getVarWage()"> No Contract: Both you and the worker will earn 0 points.
		</p>
		  <br>
		<table class="offertable" style="width: 100%" cellspacing="0">
			<tbody>
				<tr class="topline">
					<td colspan="4">
						<input name="submit" type="button" value="Option A" ng-click="game.setContract(true);"" class="button">
					</td>
					<td colspan="4">
						<input name="submit" type="button" value="Option B" ng-click="game.setContract(false);" class="button">
					</td>
					<td colspan="4">
						<input name="submit" ng-if="game.getVarWage()" type="button" value="No Contract" ng-click="game.setContract('none');" class="button">
					</td>
					<td colspan="4" width="30%">
					<span ng-show="game.getContract().length > 0">
						<p>You will <br><br> offer option <span class="offernum">{{game.getContract()}}</span></p></span>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<p><input name="submit" type="button" value="OK" ng-click="game.sendContract()" ng-show="game.continue" class="button">
			<input type="button" id="dummy" value="dummy" style="visibility:hidden" class="button" ng-show="!game.continue">
		</p>

	</div>
</form>