<form name="form_intro1" id="form_intro1" onsubmit="finish()">
	<div class="welcome_parts" data-part="1" style="display: block;">
		<h1>Choose a contract to offer the employee.</h1>
		<p> Option A: Fixed wage of <b>{{game.getWage()}}</b> dollars </p>
		<p ng-if="!game.getVarWage()"> Option B: No contract </p>
		<p ng-if="game.getVarWage()"> Option B: Base wage of <b>{{game.getWage()}}</b> dollars with <b>{{game.getBonus()}}</b> dollar <span ng-if="game.getLowBase()">bonus for high effort</span> <span ng-if="!game.getLowBase()">deduction for low effort</span>
		  </p>

		<table class="offertable" style="width: 100%" cellspacing="0">
			<tbody>
				<tr class="topline">
					<td colspan="4">
						<input name="submit" type="button" value="Option A" ng-click="game.setContract(true);"" class="button">
					</td>
					<td colspan="4">
						<input name="submit" type="button" value="Option B" ng-click="game.setContract(false);" class="button">
					</td>
					<td></td>
					<td colspan="4">
						<p>You will <br><br> offer option <span class="offernum">{{game.getContract()}}</span></p>
					</td>
				</tr>
			</tbody>
		</table>
		<p><input name="submit" type="button" value="OK" ng-click="game.sendContract()" ng-if="game.continue" class="button"></p>
	</div>
</form>