<form name="form_intro1" id="form_intro1" onsubmit="finish()">
	<div class="welcome_parts" data-part="1" style="display: block;" ">
		<h1>You have been offered {{game.getWage()}} dollars per hour <span ng-if="game.getVarWage()"> with <b>{{game.getBonus()}}</b> dollar <span ng-if="game.getLowBase()">bonus for high effort</span> <span ng-if="!game.getLowBase()">deduction for low effort</span>
		  </span></h1>
		<p>Do you <b>accept</b>?</p>
		<br>
		<table class="offertable" style="width: 100%" cellspacing="0">
			<tbody>
				<tr class="topline">
					<td colspan="4">
						<input name="submit" type="button" value="Accept" ng-click="game.setAccept(true); game.continue = true;" class="button">
					</td>
					<td colspan="4">
						<input name="submit" type="button" value="Reject" ng-click="game.setAccept(false); game.continue = true;" class="button">
					</td>
					<td></td>
					<td colspan="4"  ng-show="game.getAccept().length > 0">
						<p>You will <br><br> <span class="offernum">{{game.getAccept()}}</span> the offer</p>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<p><input name="submit" type="button" value="OK" ng-click="game.sendAccept()" ng-show="game.continue" class="button"></p>
	</div>
</form>