<form name="form_intro1" id="form_intro1" onsubmit="finish()">
	<div class="welcome_parts" data-part="1" style="display: block;" ">
		<h1>The employer offered you {{game.getWage()}} points <span ng-if="game.getVarWage()"> with <b>{{game.getBonus()}}</b> points <span ng-if="game.getLowBase()">bonus for high effort</span> <span ng-if="!game.getLowBase()">deduction for low effort</span>
		  </span></h1>
		<p>You <b>accepted</b> this offer.</p>
		<p>Pick your <b>effort level</b>.</p>
		<br>
		<table class="offertable" style="width: 100%" cellspacing="0">
			<tbody>
				<tr class="bottomline" ng-if="game.getAcceptVal()">
					<td colspan="4">
						<input name="submit" type="button" value="Low" ng-click="game.setEffort('Low'); game.continue = true;" class="button">
					</td>
					<td colspan="4">
						<input name="submit" type="button" value="High" ng-click="game.setEffort('High'); game.continue = true;" class="button">
					</td>
					<td></td>
					<td colspan="4" width="30%">
						<p ng-show="game.getEffort().length > 0">You choose <br><br> <span class="offernum">{{game.getEffort()}}</span> effort</p>
					</td>
				</tr>

			</tbody>
		</table>
		<br>
		<p><input name="submit" type="button" value="OK" ng-click="game.sendEffortLevel()" ng-show="game.continue" class="button">
					<input type="button" id="dummy" value="dummy" style="visibility:hidden" class="button" ng-show="!game.continue">
</p>
	</div>
</form>