<form name="form_intro1" id="form_intro1" onsubmit="finish()">
	<div class="welcome_parts" data-part="1" style="display: block;" ">
		<h1>You offered {{game.getWage()}} points <span ng-if="game.getVarWage()"> with a {{game.getBonus()}} points <span ng-if="game.getLowBase()">bonus for high effort</span> <span ng-if="!game.getLowBase()">deduction for low effort</span>
		  </span></h1>
		<p>The worker accepted the offer and chose <b>{{game.getEffort()}}</b> effort.</p>
		<table class="offertable" style="width: 100%" cellspacing="0">
			<tbody>
				<tr class="topline">
					<td colspan="4">
						<input ng-if="!game.getLowBase()" name="submit" type="button" value="No" ng-click="game.setAction('excuse'); game.continue = true;" class="button">
						<input ng-if="game.getLowBase()" name="submit" type="button" value="No" ng-click="game.setAction('ignore'); game.continue = true;" class="button">

					</td>
					<td colspan="4">
						<input ng-if="!game.getLowBase()" name="submit" type="button" value="Yes" ng-click="game.setAction('penalize'); game.continue = true;" class="button">
						<input ng-if="game.getLowBase()" name="submit" type="button" value="Yes" ng-click="game.setAction('reward'); game.continue = true;" class="button">

					</td>
					<td colspan="4"></td>
					<td colspan="4" width="30%">
						<p ng-show="game.getAction().length > 0">You will <br><br> <span class="offernum">{{game.getAction()}}</span> the employee.</p>
					</td>
				</tr>
			</tbody>
		</table>
		<p><input name="submit" type="button" value="OK" ng-click="game.sendAction()" ng-show="game.continue" class="button">
					<input type="button" id="dummy" value="dummy" style="visibility:hidden" class="button" ng-show="!game.continue">
</p>
	</div>
</form>