<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="MainController">
<head>
<title>Oxford Experiments</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

<link rel="stylesheet" href="{{ static_url("css/main.css") }}" type="text/css">
<link rel="stylesheet" href="{{ static_url("css/register.css") }}" type="text/css">

<script src="{{ static_url("js/angular/angular.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/angular/angular-resource.js") }}" type="text/javascript"></script>

<script src="{{ static_url("js/main.js") }}" type="text/javascript"></script>

</head>
<body ng-cloak>
	<div class="headerwarning" id="headerbar">
		<div id="periodcounter"></div>
		<div ng-if="!main.timeUp" id="timecounter" style="display: block;">You have {{!main.counter}} seconds left.</div>
		<div ng-if="main.timeUp" id="timecounter" style="display: block;">Time is up! Please finish.</div>

		<div id="balance">
			<a href="" onclick="reloadpage()" id="reloadlink" style="display: none;">R</a> &nbsp; &nbsp; 
			<span style="font-weight: normal;">LabBox</span> &nbsp; &nbsp; 
		</div>
	</div>

	<div class="bar" id="headerwaitbar" style="width: 100%">
		<div class="barcontents" style="width: 0px; display: none;" id="countdownbar"></div>
	</div>

<div id="screenarea_outer">
<div id="screenarea_middle">

<div class="screen" data-role="content">

<h2>About this study</h2>
<p>Thank you for your interest!</p>

<p>This is a study by the University of Oxford on choices people make. 
We will present you with a situation and ask you to make choices.</p>
<p>Your choices and the choices of the other participants will determine how much you earn.
We will explain how this works during the session.</p>

<p>&nbsp;</p> 
 

      <p>Please select <b>I agree</b> to participate in this study.</p><p></p>
      <p> Your ID is {{oid}}</p>
		
		<!--form action="/quiz/oid/{{oid}}" method="post"-->
      <form action="/welcome" method="get">
      <input type="hidden" name ="oid" value="{{oid}}">
      <input type="hidden" name ="round" value="1">

      <input type="submit" value="I agree" class="button">
      </form>
<hr>
<p>Background information: The principal researcher in this project is Elwyn Davies (elwyn.davies@economics.ox.ac.uk), doctoral student at the University of Oxford. If you agree to participate in this project, the research will be written up as a thesis. This thesis, as well as other publications resulting from this project, might be published online as well as in print.
</p>

<p>Complaints: The University of Oxford has set up a central committee (the Central University Research Ethics Committee, CUREC) to review studies like these on their ethical aspects. This study has been approved by this committee. If you have a concern about any aspect of this project, please speak to the researcher concerned who will do his best to answer your query. If you remain unhappy and wish to make a formal complaint, please contact the Research Ethics Committee at the University of Oxford (ethics@socsci.ox.ac.uk; +44 (0)1865 614871; Social Sciences & Humanities Inter-Divisional Research Ethics Committee, Oxford University, Hayes House, 75 George Street, Oxford, OX1 2BQ, United Kingdom).
</p>
</div>
</div>
</div>


</body>
</html>