<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="MainController">
<head>
<title>Oxford Experiments</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

<link rel="stylesheet" href="{{ static_url("css/main.css") }}" type="text/css">
<link rel="stylesheet" href="{{ static_url("css/register.css") }}" type="text/css">

<script src="{{ static_url("js/angular/angular.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/angular/angular-resource.js") }}" type="text/javascript"></script>

<script src="{{ static_url("js/main.js") }}" type="text/javascript"></script>

</head>
<body ng-cloak>
<!--
	<div class="headerwarning" id="headerbar">
		<div id="periodcounter"></div>
		<div ng-if="!main.timeUp" id="timecounter" style="display: block;">You have {{!main.counter}} seconds left.</div>
		<div ng-if="main.timeUp" id="timecounter" style="display: block;">Time is up! Please finish.</div>

		<div id="balance">
			<a href="" onclick="reloadpage()" id="reloadlink" style="display: none;">R</a> &nbsp; &nbsp; 
			<span style="font-weight: normal;">LabBox</span> &nbsp; &nbsp; 
		</div>
	</div>

	<div class="bar" id="headerwaitbar" style="width: 100%">
		<div class="barcontents" style="width: 0px; display: none;" id="countdownbar"></div>
	</div>
	-->

<div id="screenarea_outer">
<div id="screenarea_middle">

<div class="screen" data-role="content">

<h2>About this study</h2>
<p>Thank you for your interest!</p>

<p>We will present you with different choices. Your choices and those of other participants determine how much you earn.</p>
<p>In this experiment, we will assign you the role of either a <b>worker</b> or an <b>employer</b>. Another participant will be given the other role.</p>
<p>The experiment is divided into games. Each game lasts for 10 periods.</p>
<p>For the duration of a game, each employer is matched to one worker at random, and each worker is matched to one employer at random. During the 10 periods of the game you will have the <b>same role: worker or employer</b>.</p>
<p>You will play multiple games of 10 periods. In each of these games you can earn points. At the end, the computer randomly picks one game. For this game, we will pay you the sum of what you earned over the 10 periods. 100 points are worth $1.</p>
<p> Within each period, there are four stages:
<ol>
	<li>The employer offers a contract to the worker. The contract specifies a wage <b>W</b> and an effort level <b>E</b>. Sometimes the wage <b>W</b> depends on effort <b>E</b>. </li>
	<li>The worker chooses to <b>accept</b> or <b>reject</b> this contract. </li>
	<li>If the worker has accepted the contract, the worker chooses high or low effort.</li>
	<li>If the worker has accepted the contract, the employer <p>pays the worker</p> according to the contract. </li>
</ol>
</p>
<p> The earnings of the worker and the employer:
<ul>
	<li> If the worker <b>rejects</b> the offer, both get <b>zero points</b>.</li>
	<li> If the worker <b>accepts</b> the contract, the earnings depend on the worker's effort:
	<ul>
	  <li>The employer gets <b>X points</b> for <b>high effort</b> and <b>Y points</b> for <b>low effort</b>. The employer also pays a wage of <b>W</b> points to the worker as specified by the contract.</li>
	  <li>The cost to theworker payoff exerting efforts is <b>Z points</b> for <b>high effort</b> and <b>0 points</b> for <b>low effort</b>. The worker also receives a wage payment of <b>W</b> points from the employer as specified by the contract.</li>
	</ul>
</ul>
</p>
<p> So the earnings each period are: 
<ul>
	<li>For the employer: the benefit from effort minus the wage.</li>	
	<li>For the worker: the wage minus the cost of effort.</li>
</ul>
</p>
<p> An example: 
<ul>
	<li>Suppose the employer offers a wage of 20 points.</li>
	<li>The worker accepts this offer and chooses low effort.</li>
	<li>The employer now earns: X points – 20 points = X-20 points. </li>
	<li>The worker now earns: 20 points – 0 points = 20 points. </li>
</ul>
</p>



<p>&nbsp;</p> 
 

      <p>Please press <b>Continue</b> to answer a quiz.</p><p></p>
		
	  <form action="/quiz/oid/{{oid}}" method="post"-->
      <!--form action="/welcome" method="get"-->
      <input type="hidden" name ="oid" value="{{oid}}">
      <input type="hidden" name ="rd" value="1">

      <input type="submit" value="Continue" class="button">
      </form>
<hr>

</div>
</div>
</div>


</body>
</html>